/* Related Sites block */
#block-financialaid-blocks-financialaid-related-sites-block{
  text-align:center;  
  margin-bottom:0;  
}
#block-financialaid-blocks-financialaid-related-sites-block ul{
  margin-top:0;  
  margin-bottom:0;  
  padding-top:1em;  
  padding-bottom:1em;  
}
#block-financialaid-blocks-financialaid-related-sites-block ul li{
  display:inline-block;  
  width:150px;  
  height:130px;  
}

.related-sites-img.home{
  width:100px;  
  height: 100px;  
  background-color:#002255;  
  display:inline-block;
  background-image:url(../images/byu_home.svg);
  background-size:100px;
  background-repeat:no-repeat;
  background-position:center;
}

.related-sites-img.onestop{
  width:100px;  
  height: 100px;  
  background-color:#c33b27;  
  display:inline-block;  
  background-image:url(../images/onestop.svg);
  background-size:135px;
  background-repeat:no-repeat;
  background-position:-16px -20px;
}
.related-sites-img.registrar{
  width:100px;  
  height: 100px;  
  background-color:#777777;  
  display:inline-block;  
  background-image:url(../images/registrar.svg);
  background-size:125px;
  background-repeat:no-repeat;
  background-position:-12px -15px;
}
.related-sites-img.admissions{
  width:100px;  
  height: 100px;  
  background-color:#2664af;  
  display:inline-block;
  background-image:url(../images/admissions.svg);
  background-size:125px;
  background-repeat:no-repeat;
  background-position:-11px -13px;
  
}

.related-sites-img:hover{
  opacity:.8;
}

.related-sites-link{
  font-weight:bold;  
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;  
  color:#444444;  
  text-decoration:none;  
}

.related-sites-link:hover{
  text-decoration:underline;
}

.hidden-region-link-2{
  float:right;  
  width:30px;  
  margin-left:-100%;
  margin-right:5px;  
  
}
.hidden-region-link-2 a{
  text-decoration:none;  
  color:#444;  
}

#block-financialaid-blocks-financialaid-footer-block{
 text-align:center;
   max-width:1000px;
  margin-left:auto;
  margin-right:auto;
  vertical-align:middle;
  margin-bottom:0px;
  padding:0px;
}
.financialaid-footer-block-menu{
  display:inline;
  text-align:center;
  list-style:none;

}

.financialaid-footer-block-menu li{
float:left;
}
.financialaid-footer-block-menu li a{ 
  display:inline-block;
  text-decoration:none;
  font-size:20px;
  color:white;
  padding:5px 10px;
  
}
.financialaid-footer-block-menu li img{
  width:24px;
  height:24px;
}